.container{
    width: 80%;
    margin: auto;

}

.textContainer{
    padding: 40px 0;
}


.img{
    max-width: 350px;
    width: 60%;
    height: auto;
    padding: 30px 0;
}

.imgContainer{
    display: flex;
    justify-content: flex-end;
}
